<%- include('partials/header') %>

  <h2>Your Shopping Cart</h2>
  <ul>
    <% cart.forEach(item => { %>
      <li>
        <img src="<%= item.image %>" alt="<%= item.title %>" onerror="setDefaultImage(event)"  style="width: 50px; height: auto;" />
        <strong><%= item.title %></strong> - Quantity: <%= item.quantity %>
      </li>
    <% }) %>
  </ul>
  <a href="/">Continue Shopping</a>
  
<%- include('partials/footer')  %>
