<%- include('partials/header') %>

<h2>Your Shopping Cart</h2>
<div class="cart-container">
  <ul class="cart-list">
    <% cart.forEach(item => { %>
      <li id="scroll" class="cart-item">
        <img src="<%= item.image %>" onerror="setDefaultImage(event)" alt="<%= item.title %>" class="cart-item-image" />
        <div class="cart-item-details">
          <h3 class="cart-item-title"><%= item.title %></h3>
          <p class="cart-item-quantity">
            Quantity: 
            <button onclick="updateQuantity('<%= item.title %>', -1)" class="quantity-button">-</button>
            <span><%= item.quantity %></span>
            <button onclick="updateQuantity('<%= item.title %>', 1)" class="quantity-button">+</button>
          </p>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
<a href="/" class="continue-shopping">Continue Shopping</a>
  
<%- include('partials/footer')  %>
