<%- include('partials/header') %>

<h1>Search Results</h1>
  <div class="results-container">
    <ul class="results-list">
      <% products.forEach(product => { %>
        <li id="scroll" class="results-item">
          <img src="<%= product.image %>" onerror="setDefaultImage(event)" alt="<%= product.title %>" class="results-item-image" />
          <div class="results-item-details">
            <h3 class="results-item-title"><%= product.title %></h3>
            <button onclick="addToCart('<%= product.title %>', '<%= product.image %>')" class="add-to-cart-button">Add to Cart</button>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
  
  <a href="/cart" class="view-cart">View Cart</a>

<%-include ('partials/footer') %>

